environment:
  matrix:
    - arch: "x86-32"
      tools: "mingw"
    
    - arch: "x86-64"
      tools: "mingw"

    - arch: "x86-32"
      tools: "msvc12"
    
    - arch: "x86-64"
      tools: "msvc12"
    


install:

  - ps: if($env:tools -eq 'mingw')
        {
          if($env:arch -eq 'x86-64')
          {
            curl -outfile mw64.7z "http://libgd.blob.core.windows.net/mingw/x86_64-4.9.1-release-posix-seh-rt_v3-rev1.7z";
            if((Get-FileHash mw64.7z -Algorithm SHA1).Hash -ne "91A35AE296C1A71802AB0C7228EE57F9AAC5D7C7")
            {
              echo "Invalid file hash";
              exit 1;
            };
            7z x -oC:\ mw64.7z | out-null;
          }
        }



build_script:

  - SET PATH=C:\MinGW\msys\1.0\bin;%PATH%

  - IF [%tools%]==[mingw] IF [%arch%]==[x86-32] SET PATH=C:\MinGW\bin;%PATH%
  - IF [%tools%]==[mingw] IF [%arch%]==[x86-64] SET PATH=C:\mingw64\bin;%PATH%
  - IF [%tools%]==[msvc12] IF [%arch%]==[x86-32] "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall" x86
  - IF [%tools%]==[msvc12] IF [%arch%]==[x86-64] "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall" x86_amd64

  - IF [%tools%]==[mingw] IF [%arch%]==[x86-32] sh -c "ls -l;pwd;make CC=gcc"
  - IF [%tools%]==[mingw] IF [%arch%]==[x86-64] sh -c "ls -l;pwd;make CC=gcc"
  - IF [%tools%]==[msvc12] sh -c "ls -l;pwd;make CC=cl"



test_script:

  - sh -c "ls -l;./foo.exe"
