environment:
  matrix:
    - arch: "x86-64"
      tools: "msvc"

    - arch: "x86-32"
      tools: "msvc"



install:

  - ps: if($env:tools -eq 'msvc')
        {
          $env:c_comp = 'cl';
          if($env:arch -eq 'x86-64') {
            $env:vcvar_arg = 'x86_amd64';
          }
          elseif($env:arch -eq 'x86-32') {
            $env:vcvar_arg = 'x86';
          }
        }
        elseif($env:tools -eq 'mingw')
        {
          if($env:arch -eq 'x86-64')
          {
            $env:c_comp = 'gcc';
            curl -outfile mw64.7z "http://libgd.blob.core.windows.net/mingw/x86_64-4.9.1-release-posix-seh-rt_v3-rev1.7z";
            if((Get-FileHash mw64.7z -Algorithm SHA1).Hash -ne "91A35AE296C1A71802AB0C7228EE57F9AAC5D7C7")
            {
              echo "Invalid file hash";
              exit 1;
            };
            7z x -oC:\ mw64.7z | out-null;
          }
        }
        elseif($env:tools -eq 'cygwin')
        {
          $env:c_comp = 'gcc';
        }






test_script:

  - DIR "C:\Program Files (x86)"
