environment:
  matrix:
    - arch: "x86"
      tools: "mingw"
    
    - arch: "x64"
      tools: "mingw"

    - arch: "x86"
      tools: "msvc12"
    
    - arch: "x64"
      tools: "msvc12"
    


install:
  - ps: if($env:tools -eq 'msvc12')
        {
          if($env:arch -eq 'x64') {
            $env:vcvar_arg = 'x86_amd64';
          }
          elseif($env:arch -eq 'x86') {
            $env:vcvar_arg = 'x86';
          }
        }
        elseif($env:tools -eq 'mingw')
        {
          if($env:arch -eq 'x64')
          {
            curl -outfile mw64.7z "http://libgd.blob.core.windows.net/mingw/x86_64-4.9.1-release-posix-seh-rt_v3-rev1.7z";
            if((Get-FileHash mw64.7z -Algorithm SHA1).Hash -ne "91A35AE296C1A71802AB0C7228EE57F9AAC5D7C7")
            {
              echo "Invalid file hash";
              exit 1;
            };
            7z x -oC:\ mw64.7z | out-null;
          }
        }



build_script:
  - ps: if($env:tools -eq 'msvc12')
        {
          '"C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall" %vcvar_arg%'
          if($env:arch -eq 'x86')
          {
            sh -c "cl -o foo.exe foo.c"
          }
          elseif($env:arch -eq 'x64')
          {
            sh -c "cl -o foo.exe foo.c"
          }
        }
        elseif($env:tools -eq 'mingw')
        {
          if($env:arch -eq 'x86')
          {
            sh -c "export PATH=/c/MinGW/bin:$PATH;gcc -o foo.exe foo.c"
          }
          elseif($env:arch -eq 'x64')
          {
            sh -c "export PATH=/c/mingw64/bin:$PATH;gcc -o foo.exe foo.c"
          }
        }


test_script:
  - ps: if($env:tools -eq 'msvc12')
        {
          if($env:arch -eq 'x86')
          {
            sh -c "ls -l;./foo.exe"
          }
          elseif($env:arch -eq 'x64')
          {
            sh -c "ls -l;./foo.exe"
          }
        }
        elseif($env:tools -eq 'mingw')
        {
          if($env:arch -eq 'x86')
          {
            sh -c "ls -l;./foo.exe"
          }
          elseif($env:arch -eq 'x64')
          {
            sh -c "ls -l;./foo.exe"
          }
        }
